@font-face {
    font-family: "GoT";
    src: url("fonts/got.ttf") format("truetype");
}

body {
    background-color: #757575;
    font-family: 'MedievalSharp', cursive;
}

h1 {
    font-family: 'GoT', 'Times New Roman', Times, serif;
    font-size: 1.3em;
}

#listWithPic {
    display: inline-block;
    width: calc(100% - 300px);
    min-width: 300px;
    background-image: url("assets/site/mapblue.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#descriptionWithPic {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    min-width: 250px;
    float: right;
    padding: 0 25px;
}

.character {
    float: left;
    width: 12.5%;
    min-width: 150px;
    vertical-align: top;
    text-align: center;
    padding: 10px 0;
}

#listWithPic img {
    border-radius: 50%;
}

#listWithPic img:hover,
.characterSelect:hover {
    box-shadow: 0 0 10px 2px rgb(255, 237, 179);
    background-color: rgb(255, 237, 179);
    cursor: pointer;
}

.pictures {
    width: 250px;
}

.housePic {
    position: absolute;
    right: 35px;
}

#search {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

#toggleSearch {
    padding: 5px;
    border: solid 1px #000;
    background-color: #ccc;
}

#toggleSearch:hover {
    color: white;
}

#searchSpan {
    background-color: #fff;
    padding: 5px;
    display: inline-block;
    width: 175px;
    transition-property: width;
    transition-duration: 0.5s;
}

#searchSpanClosed {
    background-color: #fff;
    padding: 5px;
    display: inline-block;
    width: 0;
    transition-property: width;
    transition-duration: 0.5s;
}

#searchField {
    border: none;
}